.start {
    height: 25px;
    width: 200px;
}

.f1{
    height: 25px;
    width: 25px;
}

div {
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 150px;
    background-color: lightblue;
    border-radius: 5px;
    box-shadow: 0px 0px 6px black;
    width: 15%;
    padding: 50px;
    gap: 1em;
}

.login, .pwd{
    display: flex;
    flex-direction: column;
}

button {
    height: 30px;
    width: 80px;
    color: white;
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}