.start {
    height: 25px;
    width: 200px;
}

.f1{
    height: 25px;
    width: 25px;
}

div {
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 150px;
    background-color: lightblue;
    border-radius: 5px;
    box-shadow: 10px 5px 5px gray;
    width: 15%;
    padding: 0px 50px 15px;
    gap: 0.5em;
}

h2{
    color: lightseagreen;
    text-align: center;
}

.login, .pwd{
    display: flex;
    flex-direction: column;
}

.pwd {
    margin-bottom: 15px;
}

button {
    height: 30px;
    width: 80px;
    
    color: white;
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
    transition: 0.2s ease-in-out 25ms;
}

button:hover{
    background-color: lightcoral;
    transform: scale(0.9);
    box-shadow: 0px 0px 6px gray;
}