.buttn{
    border-radius: 5px;

}

#panel, #flip {
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
    border: solid 1px #c3c3c3;
}

#panel {
    display: flex;
    gap: 2em;
}

.slot {
    height: 34px;
    width: 60px;
}